name: ngrx-wieder
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '22.x'
      - run: npm ci
      - run: npm run lint
      - run: npm run build
      - run: npm run test:ci
      - uses: codecov/codecov-action@v4
        with:
          files: ./projects/coverage/ngrx-wieder/lcov.info
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
